<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}{% endblock %} - LookingForTrees</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header role="banner">
        <h1>LookingForTrees</h1>
        <nav role="navigation">
            <ul class="navbar">
                {% for p in nav_bar_pages %}
                <li class="navbar"><a href="{{ p.url }}">{{ p.meta.title }}</a></li>
                {% endfor %}
                {% for p in indices %}
                <li class="navbar"><a href="{{ p.url }}">{{ p.meta.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
        <article class="post">
        {% block content %}
        {% endblock %}
        </article>
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>

