<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}{% endblock %} - LookingForTrees</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li><a href="/">Home</a></li>
                {% for p in indices %}
                <li><a href="{{ p.url }}">{{ p.meta.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>

