<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>{% block title %}{% endblock %} - LookingForTrees</title>
    {% block head %}{% endblock %}
</head>
<body>
    <header role="banner">
        <h1>LookingForTrees</h1>
        {{ navbar }}
    </header>
    <main>
        <article class="post">
        {% block content %}
        {% endblock %}
        </article>
    </main>
    <footer>
        
    </footer>
</body>
</html>

