{% extends "base.html.jinja2" %}
{% block title %}{{ meta.title }}{% endblock %}
{% block content %}
<h2>{{ page.meta.title }}</h2>
{% for c in children %}
<p><a href="{{ c.url }}">{{ c.meta.title }}</a></p>
{% endfor %}

{% endblock %}
